{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<h1>Bonjour {% if app.user %}{{ app.user.userIdentifier }} {% else %}anonyme{% endif %}! ✅</h1>
    {% if app.user %}
			<div class="mb-3">
				Vous êtes connecté en tant que {{ app.user.userIdentifier }}<br>
                <a href="{{ path('app_logout') }}"><button type="button" class"btn btn-primary">Déconnection</button></a>
			</div><br>
    {% else %}
        <a href='/login'><button type="button" class"btn btn-primary">Connexion</button></a><br>
        <a href='/register'><button type="button" class"btn btn-primary">Créer un compte</button></a><br>
	{% endif %}
{% endblock %}